.samll_div {
    width: 170px;
    border-radius: 8px;
    background: rgb(245, 245, 245);
    display: flex;
    justify-content: center;
    padding: 10px;
}

.smal_warpper {
    display: grid;
    grid-gap: 15px;
}

.big_wrapper {
    width: 500px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    background: rgb(245, 245, 245);
}

.flex_single_rout {
    display: flex;
    gap: 40px;
    /* justify-content: space-between; */
}

.stars_wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
    color: yellow;
    margin-top: 10px;
    margin-bottom: 10px;
}

.stars_wrapper p {
    color: rgb(65, 65, 65);
    font-family: "Poppins";
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: left;
    margin-left: 20px;
}

.stars_wrapper b {
    color: rgb(0, 255, 102);
    font-family: "Poppins";
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: left;
    margin-left: 20px;
}


.single_route_text_content span {
    color: rgb(0, 0, 0);
    font-family: "Inter";
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 3%;
    text-align: left;
}

.single_route_text_content .p_text {
    color: rgb(0, 0, 0);
    font-family: "Poppins";
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 10px;
}

.line {
    border: 1px solid rgb(0, 0, 0);
    margin-top: 30px;
}

.sinle-rout_form {
    display: grid;
    grid-gap: 15px;
    justify-content: center;
    margin-top: 40px;
}

.flex_single_rout input {
    width: 400px;
    box-sizing: border-box;
    border: 1.5px solid rgb(157, 153, 153);
    border-radius: 4px;
    padding: 10px 20px;
    color: rgb(117, 116, 116);
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;

}

.form h2 {
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 16px;
}

.flex_single_rout button{
    padding: 10px 20px;
    color:white;
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    border: none;
    border-radius: 6px;
    background-color: darkblue;
}


@media (max-width: 990px) {
    
    .flex_single_rout{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 100px;
        margin-bottom: 10px;
    }
}

@media (max-width: 760px) {
    
    .flex_single_rout{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 100px;
        margin-bottom: 10px;
    }

    .smal_warpper{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width: 470px) {
    .big_wrapper{
        width: 400px;
        padding: 10px;
    }

    .big_wrapper img{
        width: 350px;
    }

    .single_route_text_content{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }

    .stars_wrapper{
        display: flex;
        justify-content: center;
    }


    .single_route_text_content span{
        text-align: center;
    }

    .p_text{
        display: flex;
        justify-content: center;       
    }

    .form{
        width: 350px;
    }

    .sinle-rout_form input{
        width: 350px;
    }
}
